@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.bg{
  background: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/lr/upwk58858209-wikimedia-image-kowb6v0l.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&auto=format&ixlib=js-2.2.1&s=a63a29535334ebb50ff704efac25bdf9') no-repeat center center/cover;
  position: absolute;
  top:-30px;
  left:-30px;
  width:calc(100vw + 60px);
  height:calc(100vh + 60px);
  z-index:-1;
  filter:blur(0px);
}

.loading-text{
  font-size:50px;
  color:#fff;
}